body {
    font-size:1.3em;
}
h1 {
    color: #fff;
    padding: 10px;
    background-color: #08a;
}
h2 {
    color: #fff;
    padding: 10px;
    background-color: #0a8;
}
h3 {
    color: #fff;
    padding: 10px;
    background-color: #8a0;
}
img {
    border:solid 2px gray;
}
/* スクリーンショットの画像サイズ S */
img.ss_size {
    width: 270px;
    height: 425px;
}
/*　画像の下に表示されるテキスト */
p.img_text {
    font-size: 0.8em;
    margin-top: 0px;
    margin-bottom: 50px;
    width: 270px;
}

.float_l {
    float: left;
}
.float_clear {
    clear: both;
}
.box {
    /*display: inline-block;*/
    display: table-cell;
    padding-right:30px;
}

div.margin_h_50 {
    margin-left: 50px;
    margin-right: 50px;
}

.margin_l_50 {
    margin-left: 50px;
}
.margin_r_50 {
    margin-right: 50px;
}
.margin_b_50 {
    margin-bottom:50px;
}
.margin_t_100 {
    margin-top:100px;
}
.margin_b_100 {
    margin-bottom:100px;
}
a.return { 
    font-size: 20px;
    font-style: bold;
}